*{
  font-family: 'Open Sans', sans-serif;
}

.emptybin {
    background-color: #FFB8AF;
    width: 500px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 3px;
    align-self: center;
    box-sizing: border-box;
}
h2 {
    color: #fff;
    text-align: center;
    margin-top: 12px;
    font-size: 1.9rem;
    font-weight: 400;
    position: relative;
    top: 3px;
}
