.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 27F */

.gutter {
    width: 20%;
    min-height: 100vh;
}
.bin-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;    
}