.shelves {
    background-color: #D34735;
    width: 500px;
    height: 60px;
    margin-top: 20px;
    border-radius: 3px;
    align-self: center;
}
.shelvez-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 1.9rem;
}